:root {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.app {
    display: flex;
    gap: 3rem;

    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem;
}

.input-container {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-container > * {
    padding: 1.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    border: 5px solid rgb(118, 66, 192);
}

.input-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.active h1 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.05lh;
}

.active {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    transform-origin: top center;
    animation: dropDown 0.3s;
}

.showing-education, .showing-experience {
    transform-origin: top center;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes dropDown {
    from {
        transform: scaleY(0.3);
    }

    to {
        transform: scaleY(1);
    }
}

.active button.education,
.active button.experience {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    text-align: left;
    padding: 0.7rem;
    border-radius: 1rem;
    background-color: rgb(251, 242, 255);
    border: 2px solid purple;
    min-height: 4rem;

    transition: background-color 0.2s;
}

.active button.education:hover,
.active button.experience:hover {
    background-color: rgb(222, 203, 230);
    cursor: pointer;
}

.active button > h2 {
    font-size: 1.3rem;
}

.active button > h3 {
    font-size: 1rem;
}

form label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.3rem;
}

form label input {
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.education-title-container,
.experience-title-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.arrow-down {
    width: 1.5lh;
}

.arrow-left {
    display: flex;
    align-items: center;
    justify-content: center;

    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1rem;

    transition: background-color 0.2s;
}

.arrow-left:hover {
    background-color: rgb(226, 226, 226);
}

.arrow-left > img {
    width: 2rem;
    font-size: 1.3rem;
}

.input-container > *:not(.active) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.05lh;

    transition: background-color 0.2s;
}

.input-container > *:not(.active):hover {
    background-color: rgb(236, 229, 239);
    cursor: pointer;
}

.input-container .add,
.input-container .delete {
    align-self: flex-start;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    background-color: rgb(145, 41, 201);
    color: white;
    border: 2px solid black;
    border-radius: 1rem;

    transition: filter 0.3s;
}

.input-container .delete {
    align-self: flex-end;
    background-color: rgb(182, 34, 34);
}

.input-container .add:hover,
.input-container .delete:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

@media (max-width: 1186px) {
    .app {
        flex-direction: column;
        align-items: center;
    }

    .input-container {
        width: 100%;
    }
}
