.resume {
    /* flex: 1.5 0 auto; */

    /* width: 60%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resume .fullName {
    align-self: center;
    font-size: 3rem;
}

.resume .personal-details {
    display: flex;
    justify-content: space-around;
}
